//==============================================================================
// MEDIA QUERIES                                     Call/use mixins by @include
//==============================================================================
@mixin mediaquery ($breakpoint){
  @if $breakpoint == "small"{
    @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium){
      @content;
    }
  }
  @else if $breakpoint == "medium"{
    @media (min-width: $breakpoint-medium + 1){
      @content;
    }
  }
  @else if $breakpoint == "large"{
    @media (min-width: $breakpoint-large){
      @content;
    }
  }
  @else {
    @error "Whoops! No value could be retrieved for `#{$breakpoint}`.";
  }
}

//==============================================================================
// FLEXBOX SETTINGS
//==============================================================================
@mixin flex-container($justify-content) {
  @extend %container-flex;
  justify-content: $justify-content;
}

//==============================================================================
// ELEMENT AND MODIFIER BEM SELECTORS
//==============================================================================
@mixin element($element){
  &__#{$element}{
    @content;
  }
}

@mixin modifier($modifier){
  &--#{$modifier}{
    @content;
  }
}

//==============================================================================
// THEMES and COLORS
//==============================================================================

//Background colors
@mixin bg-colors($map){
  @each $theme, $color in $map {
    &--#{$theme}{
      background-color: $color;
    }
  }
}

//Grid background colors
@mixin grid-colors($map) {
	$i : 1;
	@each $color in $map {
		@include element("col--#{$i}") {
      background-color: $color;
    }
  	$i : $i + 1;
  }
}
