//==============================================================================
// MEDIA QUERIES                                     Call/use mixins by @include
//==============================================================================
@mixin mediaquery($breakpoint){
  @if $breakpoint == "small"{
    @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium){
      @content;
    }
  }
  @else if $breakpoint == "medium"{
    @media (min-width: $breakpoint-medium + 1){
      @content;
    }
  }
  @else if $breakpoint == "large"{
    @media (min-width: $breakpoint-large){
      @content;
    }
  }
  @else {
    @error "Whoops! No value could be retrieved for '#{$breakpoint}'.";
  }
}

//==============================================================================
// FLEXBOX SETTINGS
//==============================================================================
@mixin flex-container($justify-content) {
  display: flex;
	flex-direction: column;
  justify-content: $justify-content;
  @include mediaquery(medium) {
    // display: wrap;
    flex-direction: row;
    // flex-grow: 1;
  }
}

//==============================================================================
// ELEMENT AND MODIFIER BEM SELECTORS
//==============================================================================
@mixin element($element){
  &__#{$element}{
    @content;
  }
}

@mixin modifier($modifier){
  &--#{$modifier}{
    @content;
  }
}

//==============================================================================
// THEMES and COLORS
//==============================================================================

//General background colors
@mixin bg-colors($map){
  @each $theme, $color in $map {
    &--#{$theme}{
      background-color: $color;
    }
  }
}

//Background colors buttons
@mixin button-bg-colors($map){
  @each $theme, $color in $map {
    &--#{$theme}{
      background-color: $color;
      transition-duration: .2s;
      &:hover{
        background-color: darken($color, 10%);
      }
    }
  }
}
