//==============================================================================
// LINKS
//==============================================================================


//==============================================================================
// IMAGES
//==============================================================================


//==============================================================================
// HEADLINES
//==============================================================================


//==============================================================================
// NAVIGATION ITEMS
//==============================================================================
%nav-item-link {
  display: block;
  text-decoration: none;
  color: $black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: em(15px);
  border-radius: $border--rounded-corners;
  font-weight: 300;
  font-size: em(17px);
}

%nav-item-on {
  color: $white;
  background-color: $color-primary;
}

//==============================================================================
// FLEXBOX
//==============================================================================

%container-flex {
	display: flex;
	flex-direction: column;
  @include mediaquery(medium) {
		flex-direction: row;
	}
}
