//==============================================================================
// FONTS
//==============================================================================
//@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900');

// Font stacks
$font-url--google       :  "https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900";
$font-family--primary   :  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--secondary :  "Helvetica Neue", Helvetica, Arial, sans-serif;

//Font Weights
$font-weight--light   : 300;
$font-weight--regular : 400;
$font-weight--bold    : 700;
$font-weight--bolder  : 900;

//==============================================================================
// TEXT
//==============================================================================
$base__font-size  : 16px;
$base__line       : 24px;

//==============================================================================
// BREAKPOINTS
//==============================================================================
$breakpoint-small  :     1px;
$breakpoint-medium :   768px;
$breakpoint-large  :  2040px;

//==============================================================================
// COLORS                                http://chir.ag/projects/name-that-color
//==============================================================================

//Normal colors
$white   :  #ffffff;
$black   :  #808080;  //grey-ish

$viking  :  #58e1c1;  //aqua green
$malibu  :  #51ddfc;  //aqua blue
$emerald :  #63cc82;  //green
$sunglo  :  #e4757a;  //red
$coral   :  #fd7856;  //orange
$purple  :  #927bc1;

//Lighter colors
$viking-light : lighten($viking, 10%);
$malibu-light : lighten($malibu, 10%);
$emerald-light: lighten($emerald, 10%);
$sunglo-light : lighten($sunglo, 10%);
$coral-light  : lighten($coral, 10%);
$purple-light : lighten($purple, 10%);

//Darker colors
$viking-dark  : darken($viking, 10%);
$malibu-dark  : darken($malibu, 10%);
$emerald-dark : darken($emerald, 10%);
$sunglo-dark  : darken($sunglo, 10%);
$coral-dark   : darken($coral, 10%);
$purple-dark  : darken($purple, 10%);

//Color usage
$color-primary      : $viking;
$color-secondary    : $malibu;

//UI Colors
$theme-colors: (
  default : $malibu,
  success : $emerald,
  error   : $sunglo,
  warning : $coral,
  info    : $purple
);

$grid-colors: (
  1  :  $coral-dark,
  2  :  $viking-dark,
  3  :  $purple-light,  //displayed
  4  :  $malibu-light,  //displayed
  5  :  $emerald-light, //displayed
  6  :  $malibu-dark,   //displayed
  7  :  $sunglo-light,  //displayed
  8  :  $coral-light,    //displayed
  9  :  $emerald-dark,
  10 :  $sunglo-dark,
  11 :  $purple-dark,
  12 :  $viking-light,  //displayed
);


//==============================================================================
// BORDERS
//==============================================================================
$border--rounded-corners	: 5px;
// $border--round				    : 50%;

//==============================================================================
// GRID
//==============================================================================
$grid-column-width         :  65px;
$grid-gutter-width         :  20px;
$grid-column-count         :  12;
$grid-container-max-width  :  1050px;
