//==============================================================================
// FONTS
//==============================================================================
//@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900');

// Font stacks
$font-url--google       :  "https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900";
$font-family--primary   :  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--secondary :  "Helvetica Neue", Helvetica, Arial, sans-serif;

//Font Weights
$font-weight--light   : 300;
$font-weight--regular : 400;
$font-weight--bold    : 700;
$font-weight--bolder  : 900;

//==============================================================================
// TEXT
//==============================================================================
$base__font-size  : 16px;
$base__line       : 24px;

//==============================================================================
// BREAKPOINTS
//==============================================================================
$breakpoint-small  :     1px;
$breakpoint-medium :   768px;
$breakpoint-large  :  2040px;

//==============================================================================
// COLORS                                http://chir.ag/projects/name-that-color
//==============================================================================
$white   :  #ffffff;
$black   :  #808080;  //grey-ish

$viking  :  #58e1c1;  //aqua green
$malibu  :  #51ddfc;  //aqua blue
$emerald :  #63cc82;  //green
$sunglo  :  #e4757a;  //red
$coral   :  #fd7856;  //orange
$purple  :  #927bc1;

//Color usage
$color-primary    : $viking;
$color-secondary  : $malibu;

//UI Colors
$theme-colors: (
  default : $viking,
  success : $emerald,
  error   : $sunglo,
  warning : $coral,
  info    : $purple
);


//==============================================================================
// BORDERS
//==============================================================================
$border--rounded-corners	: 5px;
// $border--round				    : 50%;

//==============================================================================
// GRID
//==============================================================================
$grid-column-width         :  65px;
$grid-gutter-width         :  20px;
$grid-column-count         :  12;
$grid-container-max-width  :  1050px;
