.container{
  padding: em(30px);
}

//Add grid colors to elements with class grid__col--X and theme__colors
.theme__colors.grid{
  &__col{
    @include bg-colors($grid-colors);
  }
}

.grid {
  &__row {
    margin: em(40px) 0;
  }
}

//Select any class with beginning of grid__col--
[class^="grid__col--"] {
  border-radius: $border--rounded-corners;
  margin: em(6px) 0;
 	padding: em(13px);
  border: none;
  color: $black;
  display: block;
  width: 100%
}
