// List of classes used
//
// Grid:
// .container
// .grid__row
// .grid__col--2
// .grid__col--3
// .grid__col--4
// .grid__col--5
// .grid__col--6
// .grid__col--7
// .grid__col--8
// .grid__col--9
// .grid__col--10
// .grid__col--11
// .grid__col--12
// .centered
// .theme__colors

//Add grid colors to elements with class grid__col--X and theme__colors
.theme__colors.grid{
  &__col{
    @include bg-colors($grid-colors);
  }
}

.grid {
  &__row {
    margin: em(40px) 0;
  }
}

//Select any class with beginning of grid__col--
[class^="grid__col--"] {
  border-radius: $border--rounded-corners;
  margin: em(6px) 0;
 	padding: em(13px);
  border: none;
  color: $black;
  display: block;
  width: 100%
}
