//==============================================================================
// LOGO
//==============================================================================
.img {
  @include modifier(logo){		//img--logo
    @extend %img;
    margin: auto;
	}

  @include modifier(frame){
    @extend %img;
    color: $black;
    margin: 0 auto;
    padding: .8em;
    border: 1px solid $black;
    width: 100%;
  }

  @include modifier(avatar){
    @extend %img;
    margin: 2em auto;
  }
}
